[workspace]
resolver = "2"
members = [
    "blueprint",
    "factorio_api",
    "locale",
    "lua_api_doc",
    "mod_util",
    "pretty_logging",
    "prototypes",
    "serde_helper",
    "scanner",
    "types",
]

[workspace.package]
authors = ["fgardt <me@fgardt.dev>"]
edition = "2021"

[profile.release]
strip = true
lto = "thin"

[workspace.dependencies]
blueprint = { path = "blueprint" }
clap = { version = "4.4", features = ["derive"] }
factorio_api = { path = "factorio_api" }
flate2 = "1.0"
image = { version = "0.24.7", features = ["png"], default-features = false }
konst = "0.3.7"
log = "0.4"
locale = { path = "locale" }
mod_util = { path = "mod_util" }
pretty_logging = { path = "pretty_logging" }
prototypes = { path = "prototypes" }
serde = { version = "1.0", features = ["derive"] }
serde_helper = { path = "serde_helper" }
serde_json = "1.0"
serde_repr = "0.1.17"
serde_with = "3.4"
thiserror = "1.0"
types = { path = "types" }

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]
nursery = "warn"
pedantic = "warn"
unwrap_used = "warn"
expect_used = "warn"
missing_panics_doc = "allow"
missing_errors_doc = "allow"

cast_possible_truncation = "allow"
cast_precision_loss = "allow"
cast_sign_loss = "allow"
